{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}

{% block title %}Crée un match{% endblock %}

{% block body %}

    <section class="container my-3 p-4 bg-light rounded">
        <h2 class="mb-3 font-weight-normal text-success text-center my-3">Crée ton match</h2>

        {{ form_start(form) }}



        <div class='row' >
            <div class='col mx-auto'>



                <div class="my-3 w-50 mx-auto">
                    {{ form_row(form.date)}}
                </div>

                <div class="my-3 w-50 mx-auto">
                    {{ form_row(form.hour)}}
                </div>


                <div class="my-3 w-50 mx-auto">
                    {{ form_row(form.five)}}
                </div>


                <div class="my-3 w-50 mx-auto">
                    {{ form_row(form.description)}}
                </div>


            </div>

            <div class='col'>


                <div class="my-3 w-50 mx-auto form-check">
                    {{ form_row(form.level)}}
                </div>


                <div class="my-3 w-50 mx-auto selectpicker">
                    {{ form_row(form.teams_event)}}
                </div>

            </div>
        </div>
        <div class="my-3 pt-3 d-flex justify-content-center">
            {{ form_row(form.submit)}}
        </div>
    </section>


    {{ form_end(form) }}
{% endblock %}
