{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}



<div class="container mt-2 ">
    <div class="row">
    <div class="col-3">

        <div class="mt-3">

        <h1 class="h4">Ajouter un filtre</h1>

        <form id="filter">

            <h1 class="h5 pt-2">Five</h1>

            {% for five in allFives %}
                <p><input type="checkbox" name="fives[]" id="five{{ five.id }}" value="{{ five.id }}">
                    <label for="five{{ five.id }}">{{ five.name }}</label></p>
            {% endfor %}

            <h1 class="h5 pt-2">Niveau de jeu</h1>

            <p><input type="checkbox" name="levels[]" id="beginner" value="beginner">
                <label for="beginner">Débutant</label></p>
            <p><input type="checkbox" name="levels[]" id="intermediate" value="intermediate">
                <label for="intermediate">Intermédiaire</label></p>
            <p><input type="checkbox" name="levels[]" id="confirmed" value="confirmed">
                <label for="confirmed">Confirmé</label></p>
        </form>

        </div>
    </div>
    <div class="col-6">
        {% if app.user %}
            <div class="row w-75 mx-auto rounded mh-10 mt-2 mb-3 bg-light justify-content-md-center"
                 style="border-width: 0.5px; height: 60px">
        <a class="btn btn-success" href="{{ path('app_match_create') }}">Crée ton propre match
            </a>
            </div>

    {% else %}

        {% endif %}
        <div id="content">

            {% include asset('homepage/announces/matches.html.twig') %}
        </div>
    </div>
<div class="col-3">

</div>
    </div>
    </div>
    {% block javascripts %}
       <script src="{{ asset('js/filters.js') }}"
    {% endblock %}

    {% endblock %}

