{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ asset('public/css/style.js') }}">

{% endblock %}

{% block body %}



<div class="container " style="margin:0; padding:0">
    <div class="row">
    <div class="col-4">

        <div class="card position-fixed" style="top:15%; margin-left: 5%">

            <div class="card-header h5"><i class="bi bi-funnel-fill"></i>Filtrage</div>

            <div class="card-body">
        <form id="filter">

            <h6 class=" text-center">Five</h6>

            {% for five in allFives %}
                <p><input type="checkbox" name="fives[]" id="five{{ five.id }}" value="{{ five.id }}">
                    <label for="five{{ five.id }}">{{ five.name }}</label></p>
            {% endfor %}

            <h6 class=" pt-4 text-center">Niveau de jeu</h6>

            <p><input type="checkbox" name="levels[]" id="beginner" value="beginner">
                <label for="beginner">Débutant</label></p>
            <p><input type="checkbox" name="levels[]" id="intermediate" value="intermediate">
                <label for="intermediate">Intermédiaire</label></p>
            <p><input type="checkbox" name="levels[]" id="confirmed" value="confirmed">
                <label for="confirmed">Confirmé</label></p>
        </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        {% if app.user %}
            <div class="row w-75 mx-auto rounded mh-10 mt-2 mb-2 bg-light justify-content-md-center"
                 style="border-width: 0.5px; height: 60px">
                <a class="d-flex align-items-center justify-content-center btn btn-success" href="{{ path('app_match_create') }}">
            <h5><i class="bi bi-plus-circle"></i> Crée ton propre match</h5>
            </a>
            </div>

    {% else %}
    <div class="container column mt-3 ">
        {% endif %}
        <div id="content">

            {% include asset('homepage/announces/matches.html.twig') %}
        </div>
    </div>
<div class="col-4">
    </div>
</div>
    </div>
    </div>


    {% block javascripts %}
        <script src="{{ asset('js/filters.js') }}"></script>
    {% endblock %}


    {% endblock %}

