{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


        {% if app.user %}
<div class="container mt-2 ">
    <div class="row w-50 mx-auto rounded mb-3 bg-light justify-content-md-center border border-success"
         style="border-width: 0.5px;">

        <button  type="button" class="btn btn-success">Crée ton propre match
            </button>
    </div>
    {% else %}
    <div class="container column mt-3 ">
        {% endif %}

        {% for match in matches %}
            <div class="row w-50 mx-auto rounded mb-3 bg-light justify-content-md-center border border-success"
                 style="border-width: 0.5px;">

                <h1 class="h4 bg-success text-white bg-gradient p-2"> {{ match.getMatchName() }}</h1>
                <p>Organisateur : <a
                            href="{{ path('app_profil', { 'id' : match.organizer.id}) }}">{{ match.organizer.pseudo }}</a>
                </p>
                <p>Five : {{ match.five.name }}</p>
                <p>Niveau : {{ match.level }}</p>
                <p>{{ match.description }}</p>
                {% if app.user %}
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="w-25 rounded mb-2  btn btn-success">Rejoindre</button>
                    </div>
                {% endif %}


            </div>
        {% endfor %}

    </div>
    </div>

    {% endblock %}

